/*TODO - make all the css namespaced. i.e. parent container with the class 'burn-reviews'*/
/*TODO - make a class for buttons so we're not targeting child divs*/
/* Undo CSS conflicts from import */
.srs { 
    width: 236px;
} 
menu, ol, ul { 
    padding: 0;
} 
p { 
    margin: 0 0 10px;
}

.br-question {
    position: relative;
    background-color: #d4d4d4;
    padding-left: 30px;
    padding-right: 30px;
    height: 142px;
}

.burn-reviews .answer-exception-form {
    position: absolute;
    width: 310px;
    margin-top: 78px;
    margin-left: 30px;
    top: initial;
    bottom: initial;
    left: initial;
    display: none;
}

.answer-exception-form span {
    background-color: rgba(162, 162, 162, 0.9);
    box-shadow: 3px 3px 0 rgba(225, 225, 225, 0.75);
}

.review-item-container {
    background-repeat: repeat-x;
    height: 70px;
    margin-top: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    padding-top: 25px;
    text-align: center;
}

.review-item {
    color: #ffffff;
    font-size: 48px;
    text-shadow:0 1px 0 rgba(0,0,0,0.2);
}

#question-type {
    height: 33px;
}

#question-type h1 {
    margin: -0.25em 0 0 0;
    text-shadow: none;
}


/* Button CSS*/
.item-toggle-buttons div, .right-side-toggle-buttons div, .left-side-action-buttons div{                    
    background-color: rgb(67, 67, 67);                                                                      
    background-image: linear-gradient(to bottom, rgb(85, 85, 85), rgb(67, 67, 67));                         
    color: #ffffff;                                                                                         
    width: 30px;                                                                                            
    vertical-align: middle;                                                                                 
    text-shadow: none;                                                                                      
}                                                                                                           
.item-toggle-buttons span, .right-side-toggle-buttons span, .left-side-action-buttons span{                 
    -ms-writing-mode: tb-rl;                                                                                
    -webkit-writing-mode: vertical-rl;                                                                      
    writing-mode: vertical-rl;                                                                              
    -webkit-touch-callout: none;                                                                            
    -webkit-user-select: none;                                                                              
    -khtml-user-select: none;                                                                               
    -moz-user-select: none;                                                                                 
    -ms-user-select: none;                                                                                  
    user-select: none;                                                                                      
    cursor: default;                                                                                        
    height: 100%;
    text-align: center;
}                                                                                                           

.left-side-action-buttons div {
    height: 35px;
}

div.left-side-action-buttons {
    position:absolute;
    left:0;
    bottom: 2px;
    z-index: 11;
    font-size: 10px;
}
div.item-toggle-buttons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11; 
}

.right-side-toggle-buttons .on, .brbss.on, .brbsl:hover {                                                   
    background-color: #80c100;                                                                              
    background-image: linear-gradient(to bottom, #8c0, #73ad00);                                            
}                                                                                                           
.item-toggle-buttons div {                                                                                  
    height: 23px;                                                                                           
}                                                                                                           
.item-toggle-buttons div:hover, .right-side-toggle-buttons div:hover, .left-side-action-buttons div:hover { 
    text-shadow: 0 0 0.2em #ffffff;                                                                         
}                                                                                                           
.brbir.on {                                                                                                 
    background-color: #00a0f1; background-image: linear-gradient(to bottom, #0af, #0093dd);                 
}                                                                                                           
.brbik.on {                                                                                                 
    background-color: #f100a0; background-image: linear-gradient(to bottom, #f0a, #dd0093);                 
}                                                                                                           
.brbiv.on {                                                                                                 
    background-color: #a000f1; background-image: linear-gradient(to bottom, #a0f, #9300dd);                 
}                                                                                                           
.right-side-toggle-buttons {                                                                                
    position: absolute;                                                                                     
    right: 0;                                                                                               
}                                                                                                           

.toggle-language-button {
    height: 70px;
}

.resize-button {
    height: 69px;
}

.br-hide {                                                                                                  
    display:none;                                                                                           
}                                                                                                           

.brbss {
    height: 35px;
    line-height: 1.1;
    box-sizing: border-box;
    padding: 1px;
}
.brbss .br-en {
    line-height: 0.9;
}

.radical-question { 
    height:100%;
    margin-top:-10px; 
}

#answer-form fieldset {
    padding: 0;
    margin: 0;
}

#answer-form input#user-response {
    height: 38px;
    margin-bottom: 0px;
    box-shadow:none;
    border-bottom: #e1e1e1 solid 4px;
}

button#answer-button {
    width: 0px;
    height: 34px;
    padding: 0px 20px 0px 5px;
    top: 0px;
    right: 0px;
}

.burn-review-container {
    float:left;
}

.one-second-transition {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.scale-up {
    transform: scale(2,2);
}



@media (max-width: 979px) and (min-width: 768px) {
    #question #question-type h1 span.br-en {
        font-size: 0.7em;
    }

}

@media (max-width: 767px) {
    .burn-review-container {
        float: none;
    }

    #question #question-type h1 span.br-en {
        font-size: 2em;
    }

    #answer-form input#user-response {
        font-size: 1.5em;
    }

    .resize-button {
        display:none;
    }

    .toggle-language-button {
        height: 139px;
        font-size:18px;
    }
}

